<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sparkle Web Services</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">   <!-- Theme CSS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:700&display=swap" rel="stylesheet"> 
  <link href="static/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="static/js/script.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">


</head>

<body id="container">
<div class="row">
  <!-- Navigation -->
  <div class="col-lg-4 col-sm-4"></div>
  <nav class="navbar navbar-expand-lg text-uppercase fixed-top mt-20" id="mainNav">
    <div class="container col-lg-8 col-sm-8" >
      <img href="#" src="static/img/portfolio/SparklePhillyLogo.png" class="headerLogo" alt="">
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger header-item" href="#">Work (Coming Soon)</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger header-item" href="#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger header-item" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="justify-content-center  text-center row">
      <video autoplay loop muted>
        <source src="static/video/Wavez.mp4" type="video/mp4">
      </video>
    <div class="col-lg-2"></div>
    <div class="col-lg-8 masthead text-white text-center justify-content-center sparklePhilly">
      <div class=" d-flex px-0 align-items-center flex-column" data-aos="fade-up">
        <h1 class="masthead-heading text-uppercase mb-0">Sparkle Philly</h1>
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
          <div class="divider-custom-line"></div>
        </div>
      <div class="form-inline">
        <p class="masthead-subheading font-weight-light mb-0">Graphic Artist -</p>
        <p class="masthead-subheading font-weight-light mb-0">&nbsp Web Designer -</p>
        <p class="masthead-subheading font-weight-light mb-0">&nbsp Illustrator</p>
        </div>  
    </div>
    <div class="col-lg-2"></div>
    </div>
</div>
  <!-- Masthead -->
  

  <!-- Portfolio Section -->
  <section class="portfolio" id="about">
    <div class="body mx-auto">

      <!-- About Section Heading -->

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12" data-aos="fade-left" data-aos-duration="3000" data-aos-once="true">
          <img class="svg" src="static/img/portfolio/plane.png" alt="">
          <p class="lead text-center">I guide my clients through launch, shifting my focus to growth-driven, iterative improvements and marketing. I continue to work with my clients, even after development improvements, web design changes and the launch of digital marketing efforts.</p>
        </div>
        <div class="col-lg-4 col-sm-12 " data-aos="fade-up" data-aos-duration="3000" data-aos-once="true">
          <img class="svg" src="static/img/portfolio/clock.png" alt="">
            <p class="lead text-center">From a simple refresh of your website, to a full blown rebranding, we’ve got specialists who can help you create a great new custom website. Request for previous projects in the contact section!</p>
        </div>
        <div class="col-lg-4 col-sm-12 " data-aos="fade-right" data-aos-duration="3000" data-aos-once="true">
          <img class="svg" src="static/img/portfolio/picture.png" alt="">
            <p class="lead text-center">Combined with the client questionnaire and your ideas I am inspired to create a design that will impact your brand and grab the attention for your potential clients.</p>
        </div>
      </div>

      


    </div>
  </section>
<sction class="svgLines" data-aos-anchor-placement="center" data-aos-once="true">
  <div class="body">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 1999.007 560" style="enable-background:new 0 0 1999.007 560;" xml:space="preserve">
    <path class="line1" style="fill:none;stroke:#CA3532;stroke-width:11;stroke-miterlimit:10;" d="M0,205.122c0,0,1.873-5.227,34.181,11.771
      c34.482,18.143,59.697,52.119,93.893,71.865c58.23,33.623,127.729,35.703,192.193,20.418
      c84.208-19.967,120.448-106.473,201.401-131.238c33.513-10.252,72.097-7.987,100.849,12.053
      c13.948,9.722,25.016,23.027,38.729,33.078c41.312,30.281,101.44,28.432,150.36,28.432c58.764,0,1187.401,0,1187.401,0"/>
    <path class="line2" style="fill:none;stroke:#21AEB8;stroke-width:11;stroke-miterlimit:10;" d="M7.622,68.997
      c63.526,16.725,114.958,46.718,161.474,93.375c58.574,58.752,124.397,129.296,215.396,122.491
      c36.201-2.707,69.877-18.493,104.376-29.793c92.193-30.198,191.378-28.556,288.366-26.362
      c222.659,5.037,443.983,4.791,666.654,4.791c85.665,0,555.119,0,555.119,0"/>
    <path class="line3" style="fill:none;stroke:#62AB38;stroke-width:11;stroke-miterlimit:10;" d="M10.628,398.243
      c98.501,20.268,202.926,9.114,295.368-30.252c110.86-47.21,211.1-122.805,335.982-128.2c91.338-3.945,184.697,28.631,270.85,55.526
      c52.736,15.855,159.623,42.183,257.969,42.183s828.21,0,828.21,0"/>
    <path class="line4" style="fill:none;stroke:#70357B;stroke-width:11;stroke-miterlimit:10;" d="M3.753,344.931
      c0,0,260.692-109.142,307.727-118.406c47.035-9.264,132.368-18.393,195.794,3.404s243.095,67.78,340.015,64.93
      c96.92-2.851,204.513-72.49,236.582-89.594c32.069-17.104,65.547-14.766,143.225-14.766c77.679,0,771.911,0,771.911,0"/>
    </svg>
  </div>
</sction>
  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="">

      <!-- Contact Section Heading -->

      <!-- Contact Section Form -->
      <div class="row contactMargin fadeInLeft mx-auto">
        <div class="col-lg-2  text-center" data-aos="fade-in" data-aos-duration="3000" data-aos-offset="0">
        </div>        
        <div class="col-lg-8" data-aos="fade-left">
          <form name="sentMessage" id="contactForm" novalidate="novalidate">
            <h2 class="page-section-heading text-uppercase text-center text-secondary contactUs mb-0">Contact Us</h2>
            <hr/>
            <!-- Icon Divider -->
            <div class="divider-custom">
              <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
              </div>
            </div>
              <div class="control-group">
              <p type="Name:"><input class="inputField text-center" placeholder="Write your name here.." required="required"></input></p>
              <p type="Email:"><input class="inputField text-center" placeholder="Let us know how to contact you back.." required="required"></input></p>
              <p type="Message:"><input class="inputField text-center" placeholder="What would you like to tell us.." required="required"></input></p>
              </div>
              <div class="form-group justify-content-center col text-center">
                <button type="submit" class="btn btn-primary btn-xl justify-content-center" id="sendMessageButton">Send</button>
              </div>
            </div>
            <br/>
          </form>
        </div>
        <div class="col-lg-2  text-center" data-aos="fade-in" data-aos-duration="3000" data-aos-offset="0">
        </div>
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          
      </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-2 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">One Street Pier, 3rd Floor
            <br>Philadelphia, PA 19104</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-8 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Follow Us on Social Media!</h4>
          <a class="btn btn-primary btn-social mx-4 mt-3 socialIcon" href="#">
            <img class="" src="static/img/portfolio/hollow-cut-facebook.svg"/>
          </a>
          <a class="btn btn-outline-light btn-social mx-4 mt-3 socialIcon" href="#">
            <img class="" src="static/img/portfolio/hollow-cut-instagram.svg"/>
          </a>
          <a class="btn btn-outline-light btn-social mx-4 mt-3 socialIcon" href="#">
            <img class="" src="static/img/portfolio/hollow-cut-twitter.svg"/>
          </a>
          <a class="btn btn-outline-light btn-social mx-4 mt-3 socialIcon" href="#">
            <img class="" src="static/img/portfolio/hollow-cut-linkedin.svg"/>
          </a>
        </div>

        <!-- Footer About Text -->

      </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-2 text-center text-white">
    <div class="">
      <small>Copyright &copy; SparklePHL 2019</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Log Cabin</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/cabin.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tasty Cake</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/cake.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Circus Tent</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/circus.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Controller</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/game.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Locked Safe</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/safe.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/img/portfolio/submarine.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>

</body>
</div>
</html>
